aiofiles==22.1.0
aiosqlite==0.19.0
alembic==1.11.3
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
arviz==0.12.1
attrs==23.1.0
authenticator==1.1.3
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
cached-property==1.5.2
cachetools==5.3.0
certifi==2023.5.7
cffi==1.15.1
cftime==1.6.2
charset-normalizer==3.1.0
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
cryptography==41.0.3
cycler==0.11.0
Cython==0.29.34
databricks-cli==0.17.7
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
deprecat==2.1.1
dill==0.3.6
docker==6.1.3
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
fastjsonschema==2.16.3
fastprogress==1.0.3
filelock==3.12.0
Flask==2.2.5
fonttools==4.38.0
fqdn==1.5.1
gitdb==4.0.10
GitPython==3.1.32
greenlet==2.0.2
idna==3.4
imageio==2.31.2
imbalanced-learn==0.11.0
imblearn==0.0
importlib-metadata==5.2.0
importlib-resources==5.12.0
iniconfig==2.0.0
intensipy==0.1.0
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
iso8601==2.0.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-server==1.24.0
jupyter-ydoc==0.2.4
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.3
jupyterlab-pygments==0.2.2
jupyterlab_server==2.22.1
jupyterthemes==0.20.0
kiwisolver==1.4.4
langchain==0.0.27
lastpass-python==0.3.2
lesscpy==0.15.1
llvmlite==0.39.1
Mako==1.2.4
MarkupSafe==2.1.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
minepy==1.2.6
mistune==2.0.5
mlflow==1.30.1
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio==1.5.6
netCDF4==1.5.8
networkx==2.6.3
notebook==6.5.4
notebook_shim==0.2.3
numba==0.56.4
numpy==1.21.6
oauthlib==3.2.2
openpyxl==3.1.2
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
plotly==5.15.0
pluggy==1.0.0
ply==3.11
prometheus-client==0.16.0
prometheus-flask-exporter==0.22.4
prompt-toolkit==3.0.38
protobuf==4.24.2
psutil==5.9.5
PyBIS==1.35.4
pycparser==2.21
pycryptodome==3.18.0
pydantic==1.10.2
Pygments==2.15.1
PyJWT==2.8.0
pymc3==3.11.5
pynndescent==0.5.10
pyparsing==3.0.9
pyrsistent==0.19.3
pystan==2.19.1.1
pytest==7.3.1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2022.7.1
PyWavelets==1.3.0
pywin32==306
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.2
querystring-parser==1.2.4
requests==2.30.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
scikit-image==0.19.3
scikit-learn==1.0.2
scikit-plot==0.3.7
scipy==1.7.3
seaborn==0.12.2
semver==3.0.0
Send2Trash==1.8.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==1.4.49
sqlparse==0.4.4
statsmodels==0.13.5
tabulate==0.9.0
tenacity==8.2.2
terminado==0.17.1
texttable==1.6.7
Theano-PyMC==1.1.2
threadpoolctl==3.1.0
tifffile==2021.11.2
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.1.0
umap==0.1.1
umap-learn==0.5.3
uri-template==1.2.0
urllib3==1.26.16
waitress==2.1.2
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
wrapt==1.15.0
xarray==0.20.2
xarray-einstats==0.2.2
xgboost==1.5.0
y-py==0.5.9
ypy-websocket==0.8.2
zipp==3.15.0
imblearn